config LOSCFG_COMPONENTS_JERRYSCRIPT
    bool "Enable Jerryscript"
    select LOSCFG_COMPONENTS_FS_VFS
    default n
    help
      Answer y to enable Jerryscript.

config JERRY_GLOBAL_HEAP_SIZE
    int "Jerryscript Head Size"
    depends on LOSCFG_COMPONENTS_JERRYSCRIPT
    default 10
    help
      Heap size occupied by jerryscript runtime.
